@*
    
*@
@model ProductIndexOverviewModel

@foreach (var product in @Model.products)
{

    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                @product.ProductName
                <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-primary">Edit</a>
                <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-primary bg-danger">Delete</a>
            </li>
        </ul>
    </div>

}
