@{
    ViewData["Title"] = "Home Page";
}
<div class="flexer mb-4">
    <div class="card text-center" style="width: fit-content;">
        <div class="card-body">
            <h5 class="card-title">Welcome to VirtualManager</h5>
            <p class="card-text">Where do u want to go ?</p>
        </div>
    </div>
</div>
<div style="display: flex;justify-content: center;">
    <a asp-controller="" asp-action="" class="main-btn btn btn-danger my-4">
        <span>ADMIN PANEL</span>
    </a>
</div>
<div style="display: flex;justify-content: center;">
    <a asp-controller="Production" asp-action="Selection" class="main-btn btn btn-primary my-4">
        <span>PRODUCTION/S</span>
    </a>
</div>
<div style="display: flex;justify-content: center;">
    <a asp-controller="" asp-action="" class="main-btn btn btn-primary my-4">
        <span>SELLINGS</span>
    </a>
</div>
