@{
    ViewData["Title"] = "Home Page";
}
<div class="flexer mb-4">
    <div class="text-center" style="width: fit-content;">
        <div class="card-body">
            <h5 class="card-title title-box">Welcome to VirtualManager</h5>

<div style="display: flex;justify-content: center;">
    <a asp-controller="" asp-action="" class="main-btn btn btn-red my-4">
        <span>ADMIN PANEL</span>
    </a>
</div>
<div style="display: flex;justify-content: center;">
    <a asp-controller="Production" asp-action="Selection" class="main-btn btn btn-blue my-4">
        <span>PRODUCTION/S</span>
    </a>
</div>
<div style="display: flex;justify-content: center;">
    <a asp-controller="" asp-action="" class="main-btn btn btn-blue my-4">
        <span>SELLINGS</span>
    </a>
</div>

        </div>
    </div>
</div>